body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #FFA229;
  font-family: 'Poiret One', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.app-title {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

.app-description {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  color: #8F795D;
}

.welcome {
    text-align: left;
    color: #FFA229;
}
.welcome-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.dashboard-link {
  text-align: left;
  display: flex;
}

.btn-logout {
  background-color: #FFA229;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.homepage-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
.homepage-div > p{
  text-align: center;
  font-size: 2rem;
  color: #8F795D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note-title {
  margin: 0%;
}

.note-description {
  margin: 0%;
}
.note.new {
  background-color: #D2F8FA;
}

textarea {
  border: none;
  resize: none;
  background-color: #D2F8FA;
}

.note-title-input {
  border: none;
  resize: none;
  background-color: #D2F8FA;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #D2F8FA;
  border-radius: 10px;
  padding: 1rem;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.btn-delete {
  background-color: #FFA229;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.btn-edit {
  background-color: #FFA229;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.btn-update {
  background-color: #FFA229;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.btn-save {
  background-color: #FFA229;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #D2F8FA;
  padding: 25px 0;
  background: #548CFF;
  margin-top: 100px;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #fff;
}

footer .container {
  text-align: center;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 0;
}
