body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #5077c6;
  font-family: "Poiret One", sans-serif;
  font-weight: 1000;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.app-title {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

.app-description {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  color: #354040;
}

.homepage-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.homepage-div > p {
  text-align: center;
  font-size: 2rem;
  color: #354040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #354040;
  padding: 25px 0;
  background: #f2c1b6;
  margin-top: 100px;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: #354040;
}

footer .container {
  text-align: center;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 0;
}
